<!DOCTYPE html>
<html>

  <head>
    <title><%= @title %></title>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro:300" type="text/css">
      <link rel="stylesheet" href="/css/normalize.css" type="text/css">
      <link rel="stylesheet" href="/css/design.css" type="text/css">
  </head>

  <body>

    <div id="wrap">
      <img class="terminal-img" src="/top.jpg">
      <img class="go-middle" id="animated" alt="animated gif" src="/ada3.gif">

      <nav class="give-space side-bars">
          <a href="/"><img class="side-img" alt="go to the HOME page" src="/home.gif"></a>
          <a href="/about"><img class="side-img" alt="go to the ABOUT page" src="/about.gif"></a>
      </nav>

      <div class="give-space side-bars small-text" id="blogroll">
          <em>RECENT POSTS</em>:<br>
          <% @recent_posts.each do |post| %>
            <%= post.date.strftime("%B %d, %Y").upcase %>:<br>
            <a href="<%= post.url %>"><%= post.title.gsub("-", " ").upcase %></a><br>
          <% end %>
      </div>

      <div id="accordion">
          <%= yield %>
      </div>

      <footer class="give-space text-center">
        <a href="mailto:sk@stephaniekwak.com">sk@stephaniekwak.com</a> <a href="http://www.stephaniekwak.com" target="_blank">stephaniekwak.com</a>
      </footer>

    </div>

  <script src="/script/jquery-2.1.1.min.js"></script>
  <script src="/script/script.js"></script>

  </body>

</html>
